
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-wrapper{
    display: flex;
    transition: .9s cubic-bezier(0.86, 0, 0.07, 1);
}
.slider-wrapper {
    width: 700px;
    height: 500px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;
    position: relative;
}
.slider-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 32px;
    cursor: pointer;
}
.slider-icon:hover{
    color: #ff4848;
}
.next{
    right: 10px;
}
.prev{
    left: 10px;
}